.root {
    -fx-background-color: #302a36;
}

.label {
    -fx-text-fill: #fefffe;
}

themeChoiceBox {
    -fx-text-fill: #b9ff6d;
}

.button {
    -fx-background-color: linear-gradient(#e8e4ea 0%, #fffefa 30%, #fffefa 60%, #e8e4ea 95%);
    -fx-border-width: 2px;
    -fx-border-color: #5d5c5a;
    -fx-border-style: solid;
    -fx-text-fill: #141313;
}

.button:hover {
    -fx-background-color: linear-gradient(#e8e4ea 0%, #fffefa 30%, #fffefa 60%, #e8e4ea 95%);
}

.text-field {

}
