.root {
    -fx-background-color: #efe3bd;
}

.button {
    -fx-background-color: linear-gradient(#fff7f7 0%, #e4bdef 30%, #e4bdef 60%, #e4bdef 95%);
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-text-fill: #023d12;
}

.button:hover {
    -fx-background-color: linear-gradient(#0496ab 0%, #6a7da5 30%, #6a7da5 60%, #d3d1d1 95%);
}

.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: inherit;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: mediumvioletred;
    -fx-font-size: 22;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-font-size: 14;
    -fx-text-fill: deeppink;
    -fx-font-weight: bold;
    -fx-alignment: center;
}

.table-row-cell{
    -fx-background-color: transparent;
    -fx-background-insets: 0, 0 0 1 0;
}