.root {
    -fx-background-color: #efe3bd;
}

.button {
    -fx-background-color: linear-gradient(#fff7f7 0%, #e4bdef 30%, #e4bdef 60%, #e4bdef 95%);
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-text-fill: #023d12;
}

.button:hover {
    -fx-background-color: linear-gradient(#0496ab 0%, #6a7da5 30%, #6a7da5 60%, #d3d1d1 95%);
}
