.root {
    -fx-background-color: #fffdd0;
}

.button {
    -fx-background-color: linear-gradient(#05b5cd 0%, #24f0f8 30%, #24f0f8 60%, #05b5cd 95%);
    -fx-border-width: 2px;
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-radius: 7px;
    -fx-background-radius: 7px;
    -fx-text-fill: #023d12;
}

.button:hover {
    -fx-background-color: linear-gradient(#0496ab 0%, #1fd2d9 30%, #1fd2d9 60%, #0496ab 95%);
}

.text-field {

}
