.root {
    -fx-background-color: #302a36;
}

Label {
    -fx-text-fill: white;
}
#text2{
     -fx-text-fill: #7c7b7b;
}

.choice-box > .label {
    -fx-text-fill: black;
}

.button {
    -fx-background-color: linear-gradient(#c8c4ca 0%, #fffefa 30%, #fffefa 60%, #c8c4ca 95%);
    -fx-text-fill: #141313;
}

.button:hover {
    -fx-background-color: linear-gradient(#808e82 0%, #d2d1ce 30%, #d2d1ce 60%, #808e82 95%);
}